.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.toggled {
  display: block !important; /* Assurez-vous qu'elle est affichée */
}

/* Pour la réactivité, vous pouvez ajouter des règles spécifiques pour la largeur de l'écran */
@media (max-width: 767px) {
  .toggled {
    position: fixed; /* Vous pouvez ajuster la position selon vos besoins */
    width: 50%; /* Assurez-vous qu'elle occupe toute la largeur sur mobile */
    top: 0;
    left: 0;
    z-index: 1000; /* Assurez-vous qu'elle est au-dessus du contenu principal */
  }
}